<!-- <div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h1>Country Details</h1>
      <form>
        <div class="form-group">
          <label for="countryName">Enter country name:</label>
          <input class="form-control" aria-label="Number" matInput [matAutocomplete]="auto"
            [formControl]="countryControl">
          <mat-autocomplete autoActiveFirstOption #auto>
            <mat-option *ngFor="let country of filteredCountries | async" [value]="country">
              {{country}}
            </mat-option>
          </mat-autocomplete>
        </div>
        <button type="submit" class="btn btn-primary" (click)="fetchCountryAndWeatherDetails()">Fetch
          Details</button>
      </form>

      <div *ngIf="countryDetails">
        <h2>{{ countryControl.value}}</h2>
        <p>Capital: {{ countryDetails.capital }}</p>
        <p>Currency: {{ currencyName }}</p>
        <p>Weather: {{ weatherDetails }}</p> -->
        <!-- <img *ngIf="imageUrl" [src]="imageUrl" alt="Weather Image" class="img-fluid"> -->
        <!-- <p>Temperature: {{ temperature }}°C</p>
        <p>Windspeed: {{ windSpeed }}m/s</p>
        <p>Humidity: {{ humidity }}%</p>
        <p>pressure: {{ pressure }} hPa</p>
        <p>Exchange Rate: {{ exchangeRate }}</p>
      </div>
    </div>
  </div>
</div> -->


<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h1>Country Details</h1>
      <form>
        <div class="form-group">
          <label for="countryName">Enter country name:</label>
          <input class="form-control" aria-label="Number" matInput [matAutocomplete]="auto"
            [formControl]="countryControl">
          <mat-autocomplete autoActiveFirstOption #auto>
            <mat-option *ngFor="let country of filteredCountries | async" [value]="country">
              {{country}}
            </mat-option>
          </mat-autocomplete>
        </div>
        <button type="submit" style="margin-top: 4px;" class="btn btn-primary" (click)="fetchCountryAndWeatherDetails()">Fetch Details</button>
      </form>

      <div *ngIf="countryDetails" class="country-details">
        <h2>{{ countryControl.value}}</h2>
        <p>Capital: {{ countryDetails.capital }}</p>
        <p>Currency: {{ currencyName }}</p>
        <p>Weather: {{ weatherDetails }}</p>
        <!-- <img *ngIf="imageUrl" [src]="imageUrl" alt="Weather Image" class="img-fluid"> -->
        <p>Temperature: {{ temperature }}°C</p>
        <p>Windspeed: {{ windSpeed }}m/s</p>
        <p>Humidity: {{ humidity }}%</p>
        <p>pressure: {{ pressure }} hPa</p>
        <p>Exchange Rate: {{ exchangeRate }}</p>
      </div>
    </div>
  </div>
</div>